/* Page Date On Cornner */
  @page{
    size: A4;  
    width:21cm;
    height: 29.7cm;
    padding: 10px;
  }
  .A4Page{
    position: relative;
    page-break-before: always;
    page-break-inside: avoid;
    width:21cm;
    height: 29.7cm;
    padding:10px;  
    background-color: #fff;
    overflow-wrap: break-word;
    position: relative;    
    
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  /* Print Page A4 End*/