.p-button,
.p-inputtext:focus {
  box-shadow: none;
}

.p-sidebar-content {
  padding: 0;
  background-color: #fff;
}

.p-panelmenu>.p-panelmenu-panel {
  margin: 0 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

/* Carousel */


.p-carousel-indicators {
  padding: 10px 0;
}

@media only screen and (max-width : 575px) {

  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
}

@media only screen and (max-width : 767px) {

  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
}

@media only screen and (max-width : 1199px) {

  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
}