@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown-menu {
  display: none;

}

.dropdownbtn:hover~.dropdown-menu {
  display: block;
}

.dropdown-menu:hover {
  display: block;
}


.no-scroll {
  overflow: hidden !important;
}

.customTableBorder > td ,th{
  border: 1px solid black;
  border-collapse: collapse;
}
